
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details for </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body>
    <h1>GameDetails</h1>
    
</body>

