
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game List</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body>
    <h1>GameList</h1>
    <table>
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</body>


