
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Game</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body>
    <h1>SearchGame</h1>

</body>


